{
  "openapi": "3.1.0",
  "info": {
    "title": "Quillon Wallet API — flux-api manifest (v0)",
    "version": "0.1.0",
    "description": "Generated by flux-api drift-guard from the working quillon-wallet-mcp surface. Source of truth = manifest.json. Do not hand-edit."
  },
  "servers": [
    {
      "url": "https://quillon.xyz/api/v1"
    }
  ],
  "tags": [
    {
      "name": "node"
    },
    {
      "name": "chain"
    },
    {
      "name": "tx"
    },
    {
      "name": "wallet"
    },
    {
      "name": "dex"
    },
    {
      "name": "vm"
    },
    {
      "name": "agent"
    },
    {
      "name": "btc"
    },
    {
      "name": "qshare"
    },
    {
      "name": "game"
    },
    {
      "name": "payments"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "summary": "node: GET /status",
        "tags": [
          "node"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "summary": "node: GET /version",
        "tags": [
          "node"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/node/status": {
      "get": {
        "summary": "node: GET /node/status",
        "tags": [
          "node"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/engine/pulse": {
      "get": {
        "summary": "node: GET /engine/pulse",
        "tags": [
          "node"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/blocks/{id}": {
      "get": {
        "summary": "chain: GET /blocks/{id}",
        "tags": [
          "chain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/send_signed": {
      "post": {
        "summary": "tx: POST /transactions/send_signed",
        "tags": [
          "tx"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{hash}": {
      "get": {
        "summary": "tx: GET /transactions/{hash}",
        "tags": [
          "tx"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/balance": {
      "get": {
        "summary": "wallet: GET /wallet/balance",
        "tags": [
          "wallet"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/integrity/balance-root": {
      "get": {
        "summary": "wallet: GET /integrity/balance-root",
        "tags": [
          "wallet"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/dex/pools": {
      "get": {
        "summary": "dex: GET /dex/pools",
        "tags": [
          "dex"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/dex/supported-tokens": {
      "get": {
        "summary": "dex: GET /dex/supported-tokens",
        "tags": [
          "dex"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/liquidity/add": {
      "post": {
        "summary": "dex: POST /liquidity/add",
        "tags": [
          "dex"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/deploy": {
      "post": {
        "summary": "vm: POST /contracts/deploy",
        "tags": [
          "vm"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/panel": {
      "get": {
        "summary": "agent: GET /agent/panel",
        "tags": [
          "agent"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/submit": {
      "post": {
        "summary": "agent: POST /agent/submit",
        "tags": [
          "agent"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/submit-batch": {
      "post": {
        "summary": "agent: POST /agent/submit-batch",
        "tags": [
          "agent"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agent/score-tx-dry": {
      "post": {
        "summary": "agent: POST /agent/score-tx-dry",
        "tags": [
          "agent"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitcoin/deposit/address": {
      "get": {
        "summary": "btc: GET /bitcoin/deposit/address",
        "tags": [
          "btc"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitcoin/deposit/bridge-status": {
      "get": {
        "summary": "btc: GET /bitcoin/deposit/bridge-status",
        "tags": [
          "btc"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitcoin/deposits": {
      "get": {
        "summary": "btc: GET /bitcoin/deposits",
        "tags": [
          "btc"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitcoin/withdraw": {
      "post": {
        "summary": "btc: POST /bitcoin/withdraw",
        "tags": [
          "btc"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/qshare/bootstrap_pool": {
      "post": {
        "summary": "qshare: POST /qshare/bootstrap_pool",
        "tags": [
          "qshare"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/qshare/try_buyback_signed": {
      "post": {
        "summary": "qshare: POST /qshare/try_buyback_signed",
        "tags": [
          "qshare"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/qshare/try_mint_signed": {
      "post": {
        "summary": "qshare: POST /qshare/try_mint_signed",
        "tags": [
          "qshare"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/crown-ash/{world}": {
      "get": {
        "summary": "game: GET /crown-ash/{world}",
        "tags": [
          "game"
        ],
        "parameters": [
          {
            "name": "world",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/crown-ash/{action}": {
      "post": {
        "summary": "game: POST /crown-ash/{action}",
        "tags": [
          "game"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "summary": "payments: GET /payments",
        "tags": [
          "payments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
